<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.mapper.AddressMapper">

    <select id="selectByUserId" resultType="AddressEntity">
        SELECT *
        FROM shop.shop_address
        WHERE user_id =#{userId}
    </select>

    <select id="selectByUserIdAndId" resultType="AddressEntity">
        SELECT *
        FROM shop.shop_address
        WHERE user_id =#{userId} AND id =#{id}
    </select>

    <select id="selectByUserIdDefault" resultType="AddressEntity">
        SELECT *
        FROM shop.shop_address
        WHERE user_id =#{userId} AND is_default = 1
    </select>

    <update id="updateDefaultByUserId">
        UPDATE shop.shop_address
        SET is_default = 1
        WHERE user_id =#{userId}
    </update>

    <update id="updateDefault0ByUserId">
        UPDATE shop.shop_address
        SET is_default = 0
        WHERE user_id =#{userId}
    </update>

    <insert id="insert">
        INSERT INTO
            shop.shop_address(name, user_id, province, city, county, address_detail, tel, is_default)
        VALUES (#{name}, #{userId}, #{province}, #{city}, #{county}, #{addressDetail}, #{tel}, #{isDefault})
    </insert>

    <delete id="delete">
        DELETE FROM shop.shop_address
        WHERE id=#{id}
    </delete>

    <select id="findAllList" resultType="com.example.shop.model.AddressEntity">
        SELECT *
        FROM shop.shop_address
        <where>
            <if test="userId != null and userId != ''">
                and user_Id=#{userId}
            </if>

            <if test="name != null and name != ''">
                and name=#{name}
            </if>

        </where>
        LIMIT ${pages},${limit}
    </select>

    <update id="update">
        UPDATE shop.shop_address
        SET name=#{name}, user_id=#{userId},province=#{province},city=#{city},county=#{county},
            address_detail=#{addressDetail},tel=#{tel},is_default=#{isDefault},add_time=#{addTime},
            update_time=#{updateTime}
        WHERE id=#{id}
    </update>

    <select id="findAllCount" resultType="long">
        SELECT
            COUNT(1)
        FROM shop.shop_address
        WHERE deleted = 0
    </select>
</mapper>