<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.mapper.CategoryMapper">
    <!-- 查询一级目录-->
    <select id="selectByLevel" resultType="com.example.shop.model.CategoryEntity">
        SELECT *
        FROM shop.shop_category
        WHERE level=#{level} AND deleted= 0;
    </select>

    <select id="findAllList" resultType="com.example.shop.model.CategoryEntity">
        SELECT *
        FROM shop.shop_category
        WHERE deleted= 0
        LIMIT #{limit}
    </select>

    <!-- 通过id查询目录-->
    <select id="selectById" resultType="com.example.shop.model.CategoryEntity">
        SELECT *
        FROM shop.shop_category
        WHERE id=#{id} AND deleted=0;
    </select>

    <!-- 通过Pid查询目录-->
    <select id="selectByPid" resultType="com.example.shop.model.CategoryEntity">
        SELECT *
        FROM shop.shop_category
        WHERE pid=#{pid} AND deleted=0;
    </select>

    <insert id="insert">
        INSERT INTO
        shop.shop_category(name, keywords, pid, icon_url, pic_url, level, add_time)
        VALUES (#{name}, #{keywords}, #{pid}, #{iconUrl}, #{picUrl}, #{level}, #{addTime} )
    </insert>

    <update id="deletedById">
        UPDATE shop.shop_category
        SET deleted=1
        WHERE id=#{id}
    </update>

    <update id="updateById">
        UPDATE shop.shop_category
        SET name=#{name}, keywords=#{keywords}, pid=#{pid},icon_url=#{iconUrl},
            pic_url=#{picUrl},level=#{level},update_time=#{updateTime}
        WHERE id=#{id}
    </update>
</mapper>