<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.mapper.GoodsMapper">
    <select id="findSaleCount" resultType="long">
        SELECT
            COUNT(1)
        FROM shop_goods
        WHERE shop_goods.is_on_sale = '1'
    </select>

    <select id="selectByCategoryId" resultType="com.example.shop.model.GoodsEntity">
        SELECT *
        FROM shop_goods
        WHERE category_id =#{categoryId};
    </select>

    <select id="selectById" resultType="com.example.shop.model.GoodsEntity">
        SELECT *
        FROM shop_goods
        WHERE id =#{id};
    </select>
</mapper>