<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.mapper.GoodsOrderMapper">
    <!-- 通过用户Id查询-->
    <select id="selectByOrderId" resultType="GoodsOrderEntity">
        SELECT *
        FROM shop_goods_order
        WHERE order_id =#{orderId};
    </select>

    <insert id="insert">
        INSERT INTO
            shop_goods_order(goods_id, order_id, goods_name, pic_url, goods_type,actual_price,goods_count,add_time,
                             update_time,deleted)
        VALUES (#{goodsId}, #{orderId}, #{goodsName}, #{picUrl}, #{goodsType}, #{actualPrice}, #{goodsCount}, #{addTime},
                #{updateTime}, #{deleted})
    </insert>

</mapper>