<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.mapper.IntegralMapper">
    <select id="selectByUserId" resultType="IntegralEntity">
        SELECT *
        FROM shop_integral
        WHERE user_id =#{userId}
    </select>

    <insert id="insert">
        INSERT INTO
            shop_integral(id, username, change_integral, current_integral, user_id, order_id, deleted)
        VALUES(#{id}, #{username}, #{changeIntegral}, #{currentIntegral}, #{userId}, #{orderId}, #{deleted})
    </insert>
</mapper>