<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shop.mapper.OperateIntegralMapper">
    <select id="selectByLevel" resultType="OperateIntegralEntity">
        SELECT *
        FROM shop.shop_operate_integral
        WHERE deleted = 0 AND level=#{level}
    </select>

    <select id="findAllList" resultType="com.example.shop.model.OperateIntegralEntity">
        SELECT *
        FROM shop.shop_operate_integral
        WHERE deleted = 0
        LIMIT ${pages},${limit}
    </select>

    <update id="delete">
        UPDATE shop.shop_operate_integral
        SET deleted = 1
        WHERE id=#{id}
    </update>

    <update id="update">
        UPDATE shop.shop_operate_integral
        SET level=#{level},discount=#{discount}
        WHERE id=#{id}
    </update>

    <insert id="insert">
        INSERT INTO
            shop.shop_operate_integral(level, discount)
        VALUES (#{level}, #{discount})
    </insert>

    <select id="count" resultType="long">
        SELECT
               COUNT(1)
        FROM shop.shop_operate_integral
        WHERE deleted = 0
    </select>

</mapper>