<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.mapper.OrderMapper">
    <!-- 通过用户Id查询-->
    <select id="selectByUserId" resultType="OrderEntity">
        SELECT *
        FROM shop.shop_order
        WHERE user_id =#{userId};
    </select>

    <select id="selectByUserIdAndStatus" resultType="OrderEntity">
        SELECT *
        FROM shop.shop_order
        WHERE user_id =#{userId} AND order_status=#{orderStatus};
    </select>

    <!-- 通过用户Id查询-->
    <select id="selectById" resultType="OrderEntity">
        SELECT *
        FROM shop.shop_order
        WHERE id =#{id};
    </select>

    <update id="updateStatus">
        UPDATE shop.shop_order
        SET order_status =#{orderStatus}
        WHERE id=#{id}
    </update>

    <!-- 添加订单 -->
    <insert id="insert">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO
            shop_order(user_id, order_sn, order_status, consignee, mobile, address, order_price, coupon_price,
                       order_integral, actual_price, add_time, end_time, message, deleted)
        VALUES(#{userId}, #{orderSn}, #{orderStatus}, #{consignee}, #{mobile}, #{address}, #{orderPrice}, #{couponPrice},
               #{orderIntegral}, #{actualPrice}, #{addTime}, #{endTime}, #{message}, #{deleted})
    </insert>

    <delete id="delete">
        DELETE FROM shop_order
        WHERE id=#{id}
    </delete>

    <select id="count" resultType="long">
        SELECT
            COUNT(1)
        FROM
            shop_order
        WHERE shop_order.deleted = 0
    </select>

    <select id="findAllList" resultType="com.example.shop.model.OrderEntity">
        SELECT *
        FROM shop.shop_order
        <where>
            <if test="userId != null and userId != ''">
                and user_id=#{userId}
            </if>

            <if test="orderSn != null and orderSn != ''">
                and order_sn=#{orderSn}
            </if>

            <if test="orderStatusArray != null and orderStatusArray != ''">
                and order_status=#{orderStatusArray}
            </if>

        </where>
    </select>
</mapper>