<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.mapper.StockMapper">
    <update id="updateByGoodsId">
        UPDATE shop_stock
        SET stock =#{stock}
        WHERE goods_id =#{goodsId}
    </update>

    <select id="selectByGoodsId" resultType="StockEntity">
        SELECT *
        FROM shop_stock
        WHERE goods_id =#{goodsId}
    </select>

    <select id="count" resultType="long">
        SELECT count(1)
        FROM shop_stock
        WHERE shop_stock.deleted = 0
    </select>
</mapper>