<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.mapper.StockMapper">
    <update id="updateByGoodsId">
        UPDATE shop.shop_stock
        SET stock =#{stock}, sale_count=#{saleCount}
        WHERE goods_id =#{goodsId} AND deleted=0
    </update>

    <select id="selectByGoodsId" resultType="StockEntity">
        SELECT *
        FROM shop.shop_stock
        WHERE goods_id =#{goodsId} AND deleted=0
    </select>

    <select id="count" resultType="long">
        SELECT count(1)
        FROM shop.shop_stock
        WHERE shop_stock.deleted = 0
    </select>

    <select id="saleCount" resultType="StockEntity">
        SELECT *
        FROM shop.shop_stock
        WHERE deleted = 0
        ORDER BY sale_count DESC
        LIMIT 5
    </select>

    <insert id="insert">
        INSERT INTO shop.shop_stock(goods_id, stock,  create_date, update_date)
        VALUES (#{goodsId}, #{stock}, #{createDate}, #{updateDate})

    </insert>
</mapper>